SUBSYSTEMS=="pci", ATTRS{vendor}=="0x8086", ATTRS{device}=="0x7113", RUN+="/sbin/modprobe i2c-piix4"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x8086", ATTRS{device}=="0x7603", RUN+="/sbin/modprobe to-be-written"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x8086", ATTRS{device}=="0x719b", RUN+="/sbin/modprobe i2c-piix4"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x8086", ATTRS{device}=="0x2413", RUN+="/sbin/modprobe i2c-i801"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x8086", ATTRS{device}=="0x2423", RUN+="/sbin/modprobe i2c-i801"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x8086", ATTRS{device}=="0x2443", RUN+="/sbin/modprobe i2c-i801"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x8086", ATTRS{device}=="0x2483", RUN+="/sbin/modprobe i2c-i801"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x8086", ATTRS{device}=="0x24c3", RUN+="/sbin/modprobe i2c-i801"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x8086", ATTRS{device}=="0x24d3", RUN+="/sbin/modprobe i2c-i801"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x8086", ATTRS{device}=="0x25a4", RUN+="/sbin/modprobe i2c-i801"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x8086", ATTRS{device}=="0x269b", RUN+="/sbin/modprobe i2c-i801"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x8086", ATTRS{device}=="0x266a", RUN+="/sbin/modprobe i2c-i801"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x8086", ATTRS{device}=="0x27da", RUN+="/sbin/modprobe i2c-i801"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x8086", ATTRS{device}=="0x283e", RUN+="/sbin/modprobe i2c-i801"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x8086", ATTRS{device}=="0x2930", RUN+="/sbin/modprobe i2c-i801"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x8086", ATTRS{device}=="0x5032", RUN+="/sbin/modprobe i2c-i801"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x8086", ATTRS{device}=="0x3a30", RUN+="/sbin/modprobe i2c-i801"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x8086", ATTRS{device}=="0x3a60", RUN+="/sbin/modprobe i2c-i801"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x8086", ATTRS{device}=="0x3b30", RUN+="/sbin/modprobe i2c-i801"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x8086", ATTRS{device}=="0x1c22", RUN+="/sbin/modprobe i2c-i801"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x8086", ATTRS{device}=="0x1d22", RUN+="/sbin/modprobe i2c-i801"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x8086", ATTRS{device}=="0x2330", RUN+="/sbin/modprobe i2c-i801"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x8086", ATTRS{device}=="0x1e22", RUN+="/sbin/modprobe i2c-i801"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x8086", ATTRS{device}=="0x8c22", RUN+="/sbin/modprobe i2c-i801"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x8086", ATTRS{device}=="0x8119", RUN+="/sbin/modprobe i2c-isch"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x1106", ATTRS{device}=="0x3040", RUN+="/sbin/modprobe i2c-via"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x1106", ATTRS{device}=="0x3050", RUN+="/sbin/modprobe i2c-viapro"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x1106", ATTRS{device}=="0x3051", RUN+="/sbin/modprobe i2c-viapro"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x1106", ATTRS{device}=="0x3057", RUN+="/sbin/modprobe i2c-viapro"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x1106", ATTRS{device}=="0x3074", RUN+="/sbin/modprobe i2c-viapro"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x1106", ATTRS{device}=="0x3147", RUN+="/sbin/modprobe i2c-viapro"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x1106", ATTRS{device}=="0x3177", RUN+="/sbin/modprobe i2c-viapro"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x1106", ATTRS{device}=="0x3227", RUN+="/sbin/modprobe i2c-viapro"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x1106", ATTRS{device}=="0x3337", RUN+="/sbin/modprobe i2c-viapro"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x1106", ATTRS{device}=="0x8235", RUN+="/sbin/modprobe i2c-viapro"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x1106", ATTRS{device}=="0x3287", RUN+="/sbin/modprobe i2c-viapro"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x1106", ATTRS{device}=="0x8324", RUN+="/sbin/modprobe i2c-viapro"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x1106", ATTRS{device}=="0x8353", RUN+="/sbin/modprobe i2c-viapro"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x1039", ATTRS{device}=="0x0008", RUN+="/sbin/modprobe i2c-sis5595"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x1039", ATTRS{device}=="0x0630", RUN+="/sbin/modprobe i2c-sis630"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x1039", ATTRS{device}=="0x0730", RUN+="/sbin/modprobe i2c-sis630"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x1039", ATTRS{device}=="0x0016", RUN+="/sbin/modprobe i2c-sis96x"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x10b9", ATTRS{device}=="0x7101", RUN+="/sbin/modprobe i2c-ali15x3"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x10b9", ATTRS{device}=="0x7101", RUN+="/sbin/modprobe i2c-ali1535"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x10b9", ATTRS{device}=="0x1563", RUN+="/sbin/modprobe i2c-ali1563"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x1022", ATTRS{device}=="0x740b", RUN+="/sbin/modprobe i2c-amd756"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x1022", ATTRS{device}=="0x7413", RUN+="/sbin/modprobe i2c-amd756"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x1022", ATTRS{device}=="0x7443", RUN+="/sbin/modprobe i2c-amd756"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x1022", ATTRS{device}=="0x746b", RUN+="/sbin/modprobe i2c-amd756"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x1022", ATTRS{device}=="0x746a", RUN+="/sbin/modprobe i2c-amd8111"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x10de", ATTRS{device}=="0x01b4", RUN+="/sbin/modprobe i2c-amd756"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x10de", ATTRS{device}=="0x0064", RUN+="/sbin/modprobe i2c-nforce2"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x10de", ATTRS{device}=="0x0084", RUN+="/sbin/modprobe i2c-nforce2"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x10de", ATTRS{device}=="0x00d4", RUN+="/sbin/modprobe i2c-nforce2"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x10de", ATTRS{device}=="0x00e4", RUN+="/sbin/modprobe i2c-nforce2"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x10de", ATTRS{device}=="0x0052", RUN+="/sbin/modprobe i2c-nforce2"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x10de", ATTRS{device}=="0x0034", RUN+="/sbin/modprobe i2c-nforce2"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x10de", ATTRS{device}=="0x0264", RUN+="/sbin/modprobe i2c-nforce2"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x10de", ATTRS{device}=="0x0368", RUN+="/sbin/modprobe i2c-nforce2"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x10de", ATTRS{device}=="0x03eb", RUN+="/sbin/modprobe i2c-nforce2"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x10de", ATTRS{device}=="0x0446", RUN+="/sbin/modprobe i2c-nforce2"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x10de", ATTRS{device}=="0x0542", RUN+="/sbin/modprobe i2c-nforce2"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x10de", ATTRS{device}=="0x07d8", RUN+="/sbin/modprobe i2c-nforce2"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x10de", ATTRS{device}=="0x0752", RUN+="/sbin/modprobe i2c-nforce2"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x10de", ATTRS{device}=="0x0aa2", RUN+="/sbin/modprobe i2c-nforce2"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x1166", ATTRS{device}=="0x0200", RUN+="/sbin/modprobe i2c-piix4"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x1055", ATTRS{device}=="0x9463", RUN+="/sbin/modprobe i2c-piix4"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x1166", ATTRS{device}=="0x0201", RUN+="/sbin/modprobe i2c-piix4"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x1166", ATTRS{device}=="0x0203", RUN+="/sbin/modprobe i2c-piix4"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x1166", ATTRS{device}=="0x0205", RUN+="/sbin/modprobe i2c-piix4"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x1002", ATTRS{device}=="0x4353", RUN+="/sbin/modprobe i2c-piix4"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x1002", ATTRS{device}=="0x4363", RUN+="/sbin/modprobe i2c-piix4"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x1002", ATTRS{device}=="0x4372", RUN+="/sbin/modprobe i2c-piix4"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x1002", ATTRS{device}=="0x4385", RUN+="/sbin/modprobe i2c-piix4"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x1022", ATTRS{device}=="0x780b", RUN+="/sbin/modprobe i2c-piix4"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x100b", ATTRS{device}=="0x0500", RUN+="/sbin/modprobe scx200_acb"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x100b", ATTRS{device}=="0x0510", RUN+="/sbin/modprobe scx200_acb"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x100b", ATTRS{device}=="0x002b", RUN+="/sbin/modprobe scx200_acb"
SUBSYSTEMS=="pci", ATTRS{vendor}=="0x1022", ATTRS{device}=="0x2090", RUN+="/sbin/modprobe scx200_acb"
KERNEL=="i2c-[0-9]*", RUN+="/sbin/modprobe eeprom"