Source: libcpuid11
Section: contrib/admin
Priority: extra
Maintainer: eloaders <eloaders@linux.pl>
Build-Depends: debhelper (>= 7), pkg-config, dpkg-dev, python, automake
Standards-Version: 3.9.4
Homepage: http://i-nex.linux.pl

Package: libcpuid11
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
Description: libcpuid provides CPU identification for x86
 libcpuid provides CPU identification for the x86 (and x86_64).
 For details about the programming API, please see the docs
 on the project's site (http://libcpuid.sourceforge.net/)
