#!/usr/bin/make -f
%:
	dh $@

override_dh_builddeb:
	dh_builddeb -- -z9 -Zxz
override_dh_autoreconf:
	dh_autoreconf
override_dh_auto_configure:
	dh_auto_configure
override_dh_auto_build:
	dh_auto_build
override_dh_auto_install:
	dh_auto_install
override_dh_installmenu:
	dh_installmenu --noscripts