[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=i-nex
Comment=I-Nex, system information tool
Exec=/usr/bin/i-nex.gambas
Icon=/usr/share/pixmaps/i-nex.0.4.x.png
Terminal=false
Type=Application
StartupNotify=true
Categories=System;
