[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=I-Nex
Comment=I-Nex Viewing System Device Information.
Exec=/usr/bin/i-nex.gambas
Icon=i-nex
Terminal=false
Type=Application
StartupNotify=true
Categories=System;
