[Desktop Entry]
Name=I-Nex
Name[ar]=I-Nex
Name[ast]=I-Nex
Name[be]=I-Nex
Name[bn]=I-Nex
Name[ca]=I-Nex
Name[cs]=I-Nex
Name[da]=I-Nex
Name[de]=I-Nex
Name[el]=I-Nex
Name[en_GB]=I-Nex
Name[eo]=I-Nex
Name[es]=I-Nex
Name[et]=I-Nex
Name[eu]=I-Nex
Name[fi]=I-Nex
Name[fr]=I-Nex
Name[gl]=I-Nex
Name[he]=I-Nex
Name[hr]=I-Nex
Name[hu]=I-Nex
Name[id]=I-Nex
Name[it]=I-Nex
Name[ja]=I-Nex
Name[kk]=I-Nex
Name[ko]=I-Nex
Name[lt]=I-Nex
Name[lv]=I-Nex
Name[nb]=I-Nex
Name[nl]=I-Nex
Name[nn]=I-Nex
Name[pa]=I-Nex
Name[pl]=I-Nex
Name[pt]=I-Nex
Name[pt_BR]=I-Nex
Name[ro]=I-Nex
Name[ru]=I-Nex
Name[si]=I-Nex
Name[sk]=I-Nex
Name[sq]=I-Nex
Name[sr]=I-Nex
Name[sv]=I-Nex
Name[te]=I-Nex
Name[tr]=I-Nex
Name[ug]=I-Nex
Name[uk]=I-Nex
Name[ur]=I-Nex
Name[ur_PK]=I-Nex
Name[vi]=I-Nex
Name[zh_CN]=I-Nex
Name[zh_TW]=I-Nex
Comment=I-Nex Viewing System Device Information.
Comment[ar]=I-Nex Viewing System Device Information.
Comment[ast]=I-Nex Viewing System Device Information.
Comment[be]=I-Nex Viewing System Device Information.
Comment[bn]=I-Nex Viewing System Device Information.
Comment[ca]=I-Nex Viewing System Device Information.
Comment[cs]=I-Nex Viewing System Device Information.
Comment[da]=I-Nex Viewing System Device Information.
Comment[de]=I-Nex Viewing System Device Information.
Comment[el]=I-Nex Viewing System Device Information.
Comment[en_GB]=I-Nex Viewing System Device Information.
Comment[eo]=I-Nex Viewing System Device Information.
Comment[es]=I-Nex Viewing System Device Information.
Comment[et]=I-Nex Viewing System Device Information.
Comment[eu]=I-Nex Viewing System Device Information.
Comment[fi]=I-Nex Viewing System Device Information.
Comment[fr]=I-Nex Viewing System Device Information.
Comment[gl]=I-Nex Viewing System Device Information.
Comment[he]=I-Nex Viewing System Device Information.
Comment[hr]=I-Nex Viewing System Device Information.
Comment[hu]=I-Nex Viewing System Device Information.
Comment[id]=I-Nex Viewing System Device Information.
Comment[it]=I-Nex Viewing System Device Information.
Comment[ja]=I-Nex Viewing System Device Information.
Comment[kk]=I-Nex Viewing System Device Information.
Comment[ko]=I-Nex Viewing System Device Information.
Comment[lt]=I-Nex Viewing System Device Information.
Comment[lv]=I-Nex Viewing System Device Information.
Comment[nb]=I-Nex Viewing System Device Information.
Comment[nl]=I-Nex Viewing System Device Information.
Comment[nn]=I-Nex Viewing System Device Information.
Comment[pa]=I-Nex Viewing System Device Information.
Comment[pl]=I-Nex Viewing System Device Information.
Comment[pt]=I-Nex Viewing System Device Information.
Comment[pt_BR]=I-Nex Viewing System Device Information.
Comment[ro]=I-Nex Viewing System Device Information.
Comment[ru]=I-Nex Viewing System Device Information.
Comment[sk]=I-Nex Viewing System Device Information.
Comment[sq]=I-Nex Viewing System Device Information.
Comment[sr]=I-Nex Viewing System Device Information.
Comment[sv]=I-Nex Viewing System Device Information.
Comment[te]=I-Nex Viewing System Device Information.
Comment[tr]=I-Nex Viewing System Device Information.
Comment[ug]=I-Nex Viewing System Device Information.
Comment[uk]=I-Nex Viewing System Device Information.
Comment[ur]=I-Nex Viewing System Device Information.
Comment[ur_PK]=I-Nex Viewing System Device Information.
Comment[vi]=I-Nex Viewing System Device Information.
Comment[zh_CN]=I-Nex Viewing System Device Information.
Comment[zh_TW]=I-Nex Viewing System Device Information.
GenericName=I-Nex Viewing System Device Information.
GenericName[ar]=I-Nex Viewing System Device Information.
GenericName[ast]=I-Nex Viewing System Device Information.
GenericName[be]=I-Nex Viewing System Device Information.
GenericName[bn]=I-Nex Viewing System Device Information.
GenericName[ca]=I-Nex Viewing System Device Information.
GenericName[cs]=I-Nex Viewing System Device Information.
GenericName[da]=I-Nex Viewing System Device Information.
GenericName[de]=I-Nex Viewing System Device Information.
GenericName[el]=I-Nex Viewing System Device Information.
GenericName[en_GB]=I-Nex Viewing System Device Information.
GenericName[eo]=I-Nex Viewing System Device Information.
GenericName[es]=I-Nex Viewing System Device Information.
GenericName[et]=I-Nex Viewing System Device Information.
GenericName[eu]=I-Nex Viewing System Device Information.
GenericName[fi]=I-Nex Viewing System Device Information.
GenericName[fr]=I-Nex Viewing System Device Information.
GenericName[gl]=I-Nex Viewing System Device Information.
GenericName[he]=I-Nex Viewing System Device Information.
GenericName[hr]=I-Nex Viewing System Device Information.
GenericName[hu]=I-Nex Viewing System Device Information.
GenericName[id]=I-Nex Viewing System Device Information.
GenericName[it]=I-Nex Viewing System Device Information.
GenericName[ja]=I-Nex Viewing System Device Information.
GenericName[kk]=I-Nex Viewing System Device Information.
GenericName[ko]=I-Nex Viewing System Device Information.
GenericName[lt]=I-Nex Viewing System Device Information.
GenericName[lv]=I-Nex Viewing System Device Information.
GenericName[nb]=I-Nex Viewing System Device Information.
GenericName[nl]=I-Nex Viewing System Device Information.
GenericName[nn]=I-Nex Viewing System Device Information.
GenericName[pa]=I-Nex Viewing System Device Information.
GenericName[pl]=I-Nex Viewing System Device Information.
GenericName[pt]=I-Nex Viewing System Device Information.
GenericName[pt_BR]=I-Nex Viewing System Device Information.
GenericName[ro]=I-Nex Viewing System Device Information.
GenericName[ru]=I-Nex Viewing System Device Information.
GenericName[si]=I-Nex Viewing System Device Information.
GenericName[sk]=I-Nex Viewing System Device Information.
GenericName[sq]=I-Nex Viewing System Device Information.
GenericName[sr]=I-Nex Viewing System Device Information.
GenericName[sv]=I-Nex Viewing System Device Information.
GenericName[te]=I-Nex Viewing System Device Information.
GenericName[tr]=I-Nex Viewing System Device Information.
GenericName[ug]=I-Nex Viewing System Device Information.
GenericName[uk]=I-Nex Viewing System Device Information.
GenericName[ur]=I-Nex Viewing System Device Information.
GenericName[ur_PK]=I-Nex Viewing System Device Information.
GenericName[vi]=I-Nex Viewing System Device Information.
GenericName[zh_CN]=I-Nex Viewing System Device Information.
GenericName[zh_TW]=I-Nex Viewing System Device Information.
Exec=/usr/bin/i-nex.gambas
Icon=i-nex
Terminal=false
StartupNotify=true
Type=Application
Categories=System;
Version=1.0
Encoding=UTF-8