#!/usr/bin/make -f
build: build-stamp
build-stamp:
	dh_testdir
	touch build-stamp
	/usr/bin/gbc3 -e -a -g -t -p -m  src/i-nex
	gba3 src/i-nex
	gcc edid-decode.c -g -Wall -o inex-edid

clean:
	dh_testdir
	dh_testroot
	rm -Rf `find . -name ".gambas"`
	rm -Rf `find . -name "*.gambas"`
	rm -Rf `find . -name "screenfetch-dev"`
	rm -Rf `find . -name "inex-edid"`
	
	rm -f build-stamp install-stamp
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k

	dh_installdirs

	touch install-stamp

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_install -i
	dh_installman
	dh_installudev
	dh_link
	dh_strip -pedid-decode
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps -- --warnings=6
	dh_gencontrol
	dh_md5sums
	dh_builddeb
	
binary-indep: build install
	

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
