[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Silicon
Comment=Aplikacja w wersji alpha wyświetlająca informacje o systemie. Data, wersja biosu oraz producent. Użyta pamięć, całkowita pamięć i dostępne miejsce na dysku. Wyświetla także inne informacje o systemie.
Exec=/usr/bin/Silicon.gambas
Icon=/usr/share/pixmaps/silicon.png
Terminal=false
Type=Application
StartupNotify=true
Categories=System;
